<div id="destinosTableContainer">
    <button style="margin: 10px;" onclick="crearDestino()"
        id="creardestinosBtn" class="btn btn-primary">Crear Destinos</button>
    <table id="destinosTable" class="hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ciudad</th>
                <th>Provincia</th>
                <th>Pais</th>
                <th>Región</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de Destinos se añadirán dinámicamente aquí -->
        </tbody>
    </table>
</div>
