<div id="paquetesTableContainer" >
    <button style="margin: 10px;" onclick="crearPaquete()" id="crearpaquetesBtn"
        class="btn btn-primary">Crear Paquete</button>
    <table id="paquetesTable" class="hover">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Dias</th>
                <th>Destino</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de Paquetes se añadirán dinámicamente aquí -->
        </tbody>
    </table>
</div>
