<div id="usuariosTableContainer">
    <button style="margin: 10px;" onclick="crearUsuario()" id="crearUsuarioBtn"
        class="btn btn-primary">Crear Usuario</button>
    <table id="usuariosTable" class="hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de Usuarios se añadirán dinámicamente aquí -->
        </tbody>
    </table>
</div>
