/* Contenedor de las cards */
#paquetesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espacio entre las cards */
}

/* Estilos de las cards */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 40px); /* Tres columnas con espacio de 20px entre ellas */
  margin-bottom: 20px; /* Espacio debajo de cada card */
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 40px); /* Dos columnas con espacio de 20px entre ellas */
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 40px); /* Una columna */
  }
}

.zoom-img {
  position: relative;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.img-card{
  position: relative;
}

.img-card img:hover {
  transform: scale(1.1);
}

.text {
  padding: 15px;
}

.rating,
.cost,
.card-box .time,
.card-box .location {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
        .area{
            background: #4e54c8;  
            background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
            width: 100%;
            height: 100%;
            position: relative;
        }

        .circles{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .circles li{
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
        }

        .circles li:nth-child(1){
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }

        .circles li:nth-child(2){
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3){
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4){
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5){
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6){
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7){
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8){
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9){
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10){
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }

        @keyframes animate {
            0%{
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            100%{
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }
        }


/* ----------------------------

*/

/* Estilos para el botón de comprar */
.comprar-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  display: none; /* Ocultar inicialmente */
  z-index: 10; /* Asegurarse de que esté por encima de la imagen */
}

.comprar-btn:hover {
  background-color: #0056b3;
}


/* Estilos generales para el body y HTML */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Estilos para el contenido principal */
.main-content {
  flex: 1; /* El contenido principal ocupará todo el espacio restante */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: center; /* Centrar los elementos verticalmente */
  position: relative; /* Relativo para posicionar el mensaje de no paquetes */
}


/* Añade más estilos para los otros círculos aquí */

#noPaquete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Asegura que el mensaje esté sobre los círculos */
}

/* Estilos para el footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Alinear el footer al final de la página */
}
