<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="https://kit.fontawesome.com/a5d52be292.js"
      crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/includes.js"></script>
        <script src="../js/nav-bar.js"></script>


    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <title>Login</title>

  </head>
  <body>

    <!--===========Nav Bar=================-->
        <section class="nav-bar" id="nav-bar-container">
        </section>
    
    <div class="blur-bg"></div>

    <section id="SectionBody">
      <div class="container">
         <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">

          <div class=" col-md-8 col-lg-6 col-xl-5">
                <form name="login">
                  <div class="divider d-flex align-items-center my-1">
                    <div class="logo"  style="color: #52BFB7;  position: relative; width: 200px; margin: 0 auto;">
                      <img src="../img/Logos/Logotipo2.png" class="img-fluid" id="logoInit" alt="">ViajAR
                    </div>
                  </div>
                  <p id="textInformat">Para ver tus reservas ingresa o regístrate con el email que realizaste la compra.</p>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" style="color:white; padding-left: 2.5rem; padding-right: 2.5rem; background-color: #ea6422;"
                    onclick="redirectSession()">
                      Iniciar Sesión
                    </button>
                  </div>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                     onclick="redirectRegister()">
                      Registrarse
                    </button>
                  </div>
                </form>
                <br>
                <div class="">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <section class="card text-center" style="font-size: 30px;">
                      <p>
                        <img src="../img/Logos/lista-de-verificacion.png" class="img-fluid"> Chequear el estado de tus reservas.
                      </p>
                      <p>
                        <img src="../img/Logos/etiqueta-de-descuento.png" class="img-fluid"> Acceder a descuentos exclusivos.
                      </p>
                      <p>
                        <img src="../img/Logos/billete-de-avion.png" class="img-fluid"> Descargar los vouchers de tus reservas.
                      </p>
                    </section>
                  </div>
                </div>
              </div>    
            </div>
          </div>
        </section>
      </div>
    </section>
    
        
      </div>
    </section>
    <!--===========Footer=================-->

    <script src="../js/login.js"></script>
  </body>
</html>