<!DOCTYPE html>
<html lang="es">

    <head>
        <script src="https://kit.fontawesome.com/a5d52be292.js"
            crossorigin="anonymous"></script>
        <script src="../js/includes.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/nav-bar.js"></script>
        <script src="../js/paqueteSearch.js"></script>
        <link rel="stylesheet" href="../css/search.css">

        <title>Norte</title>
    </head>
    <body>
        <!--===========Nav Bar=================-->
        <section class="nav-bar" id="nav-bar-container">
        </section>
        <main>
            <div id="paquetesContainer" class="cuadriculas"></div>

            </div>
        </main>

        <!--===========Footer=================-->
        <footer class="footer">
            <div class=" links">
                <h3>Enlaces</h3>
                <ul>
                    <!-- <li>Ofertas y Descuentos</li> -->
                    <!-- <li>Obten Beneficios Exclusivos</li> -->
                    <li> <a href="./contacto.html" class> Contáctanos</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                </ul>
            </div>
        </footer>
    </body>

</html>