<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/a5d52be292.js"
            crossorigin="anonymous"></script>
        <script src="../js/includes.js"></script>
        <link rel="stylesheet" type="text/css" href="./css/session.css">
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
        <script src="../js/nav-bar.js"></script>

        <title>Register</title>

    </head>
    <body>
        <!--===========Nav Bar=================-->
        <section class="nav-bar" id="nav-bar-container">
        </section>
        <div class="blur-bg"></div>
        <section>
            <div class="container">
                <section class="vh-100">
                    <div class="container-fluid h-custom">

                        <div
                            class="row d-flex justify-content-center align-items-center h-100">

                            <div class="card col-md-8 col-lg-6 col-xl-5">

                                <form name="register">
                                    <div
                                        class="divider form-outline mb-4 text-center position-relative">
                                        <img src="../img/Logos/planet.png"
                                            alt="Earth image"
                                            style="width: 100px; height: auto;"
                                            class="img-fluid rotating-earth">
                                        <img src="../img/Logos/airplane.png"
                                            alt="Airplane image"
                                            style="width: 50px; height: auto;  "
                                            class="img-fluid airplane">
                                    </div>
                                    <!-- Nombre input -->
                                    <div data-mdb-input-init
                                        class="form-outline ">
                                        <label class="form-label"
                                            for="nombre">Nombre</label>
                                        <input type="text" name="nombre"
                                            class="form-control form-control-lg"
                                            id="nombre"
                                            placeholder="Ingese nombre ">
                                        <div id="nombre-error"
                                            class="error"></div>
                                    </div>
                                    <!-- apellido input -->
                                    <div data-mdb-input-init
                                        class="form-outline ">
                                        <label class="form-label"
                                            for="apellido">Apellido</label>
                                        <input type="text" name="apellido"
                                            class="form-control form-control-lg"
                                            id="apellido"
                                            placeholder="Ingese apellido ">
                                        <div id="apellido-error"
                                            class="error"></div>
                                    </div>
                                    <!-- dni input -->
                                    <div data-mdb-input-init
                                        class="form-outline">
                                        <label class="form-label"
                                            for="dni">Dni</label>
                                        <input type="number" name="dni"
                                            class="form-control form-control-lg"
                                            id="dni"
                                            placeholder="Ingese dni ">
                                        <div id="dni-error"
                                            class="error"></div>
                                    </div>
                                    <!-- Email input -->
                                    <div data-mdb-input-init
                                        class="form-outline">
                                        <label class="form-label"
                                            for="email">Email</label>
                                        <input type="email" name="email"
                                            class="form-control form-control-lg"
                                            id="email"
                                            placeholder="Ingese email ">
                                        <div id="email-error"
                                            class="error"></div>
                                    </div>
                                    <!-- Password input -->
                                    <div data-mdb-input-init
                                        class="form-outline mb-3">
                                        <label class="form-label"
                                            for="password">Contraseña</label>
                                        <input type="password" name="password"
                                            class="form-control form-control-lg password1"
                                            placeholder="Ingrese contraseña"
                                            id="contraseña" />
                                        <span
                                            class="fa fa-fw fa-eye password-icon show-password"></span>
                                        <div id="password-error" class="error"
                                            style="color: red;"></div>
                                    </div>

                                    <div
                                        class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit"
                                            data-mdb-button-init
                                            data-mdb-ripple-init
                                            class="btn btn-primary btn-lg"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <!--===========Footer=================-->
            <script src="../js/register.js"></script>
        </body>
    </html>
